@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  color-scheme: light;

  --color-primary: #1C7BB1;
  --color-primary-content: #FFFFFF;
  
  --color-secondary: #3A9BD5;
  --color-secondary-content: #FFFFFF;
  
  --color-accent: #38bdf8;
  --color-accent-content: #FFFFFF;
  
  --color-neutral: #0f172a;
  --color-neutral-content: #d1d5db;
  
  --color-base-100: #F8FAFC;
  --color-base-200: #EFF3F5;
  --color-base-300: #DDE4E8;
  --color-base-content: #2C363A;
  
  --color-info: #3B82F6;
  --color-success: #10B981;
  --color-success-content: #FFFFFF;

  --color-warning: #F59E0B;
  --color-error: #EF4444;
}
